@charset "UTF-8";
/*Обнуление стилей*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-----------------------------------------------*/
/*====================================================================================================================*/
/* Fonts */
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/Gotham-Book.eot");
  src: url("../fonts/Gotham/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham/Gotham-Book.woff") format("woff"), url("../fonts/Gotham/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/Gotham-Medium.eot");
  src: url("../fonts/Gotham/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham/Gotham-Medium.svg#Gotham-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/Gotham-Bold.eot");
  src: url("../fonts/Gotham/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
/*====================================================================================================================*/
body {
  font-family: "Gotham", sans-serif;
  color: #fff;
}

.wrapper {
  overflow: hidden;
}

a {
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 880px;
}

.main-screen {
  min-height: 100vh;
  padding-top: 115px;
  background: url("../img/main-screen/main_screen_bg.png") top/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-screen__body {
  transform: translateY(104.5px);
}
.main-screen__title {
  margin-bottom: 87.3px;
  font-family: "Gotham", sans-serif;
  font-size: 152.6px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: #f5f5f5;
}
.main-screen__title span {
  display: block;
  transform: translateX(10px);
  font-size: 24.8px;
  line-height: 51px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.74em;
  color: #11749e;
}
.main-screen__scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-height: 715px) {
  .main-screen__scroll {
    display: none;
  }
}
@media (max-width: 450px) {
  .main-screen__body {
    transform: translateY(0);
  }
  .main-screen__scroll {
    display: none;
  }
}
@media (max-width: 1024px) {
  .main-screen__title {
    font-size: 100px;
  }
  .main-screen__title span {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (max-width: 620px) {
  .main-screen__title {
    font-size: 50px;
  }
  .main-screen__title span {
    transform: translateX(5px);
    font-size: 8px;
    line-height: 15px;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 115px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
}
.header__container {
  width: 1215px;
  margin: 0 auto;
  padding: 0 20px;
}
.header__row {
  display: flex;
  align-items: center;
}
.header__logo {
  flex: 0 1 322px;
}
.header__menu {
  margin-right: 53px;
}
.header__menu_burger {
  display: none;
}

@media (max-width: 1024px) {
  .header__row {
    justify-content: space-between;
  }
  .header__menu {
    display: none;
  }
  .header__socials {
    display: none;
  }
  .header__menu_burger {
    display: block;
  }
}
.menu {
  font-family: "Myriad Pro", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
  white-space: nowrap;
}
.menu__list {
  display: flex;
}
.menu__list li:not(li:last-child) {
  margin-right: 48px;
}
.menu__list li {
  position: relative;
}
.menu__link {
  height: 115px;
  display: flex;
  align-items: center;
}
.menu__link:hover::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  transform: translateX(-12px);
  width: calc(100% + 23px);
  height: 6px;
  background-color: #11749e;
}

.socials {
  margin: 0 -15px;
}
.socials__row {
  display: flex;
  align-items: center;
}
.socials__link {
  padding: 15px;
}

.digital-logo__image {
  position: relative;
  display: block;
  width: 79px;
  height: 75px;
}
.digital-logo__front {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.digital-logo__back {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.74;
}

.scroll__text {
  font-family: "Open Sans", serif;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 17.5px;
}
.scroll__btn {
  position: relative;
}
.scroll__narrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-burger img {
  width: 50px;
}

.title {
  position: relative;
  display: block;
  text-align: center;
}
.title__letter {
  opacity: 0.18;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 247.2px;
  line-height: 210px;
  font-weight: 700;
}
.title__text {
  transform: translateY(-135px);
  font-size: 37.6px;
  line-height: 45px;
  font-weight: 500;
  text-transform: uppercase;
}

.features {
  background-color: #11749e;
  padding: 85px 0 128px;
}
.features__title {
  margin-bottom: 10px;
}
.features__container {
  max-width: 1205px;
  margin: 0 auto;
  padding: 0 20px;
}
.features__row {
  display: flex;
  column-gap: 42px;
  row-gap: 50px;
  flex-wrap: wrap;
}
.features__column {
  display: flex;
  column-gap: 42px;
  row-gap: 50px;
  flex: 1 1 45%;
  flex-wrap: wrap;
}
.features__item {
  flex: 1 1 0.5%;
}

@media (max-width: 1300px) {
  .features {
    padding: 40px 0 60px;
  }
  .features__title {
    margin-bottom: -20px;
  }
}
@media (max-width: 667px) {
  .features__title {
    margin-bottom: -65px;
  }
  .features__title_text {
    transform: translateY(-152px);
  }
}
@media (max-width: 596px) {
  .features {
    padding: 25px 0 40px;
  }
  .features__title {
    margin-bottom: -60px;
  }
}
@media (max-width: 425px) {
  .features {
    padding: 25px 0 40px;
  }
  .features__title {
    margin-bottom: -85px;
  }
  .features__title_text {
    transform: translateY(-172px);
  }
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__logo {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  background-color: #2e85aa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.item__title {
  margin-bottom: 19.5px;
  font-size: 18px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
}
.item__text {
  min-width: 259px;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
}

.text-block {
  padding: 4.78vw 7.44vw 6.84vw 13.44vw;
}
.text-block__dark {
  background-color: #222222;
  color: #f3f3f3;
}
.text-block__light {
  background-color: #f3f3f3;
  color: #222222;
}
.text-block__date {
  margin-bottom: 7px;
  font-size: 13px;
  line-height: 24px;
}
.text-block__title {
  margin-bottom: 33px;
  font-size: 25px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
}
.text-block__text {
  font-size: 15px;
  line-height: 24px;
}
.text-block__text p:not(p:last-child) {
  margin-bottom: 2.13vw;
}

@media (max-width: 1683px) {
  .text-block {
    padding: 4.78vw 7.44vw 6.84vw 6.72vw;
  }
}
@media (max-width: 1683px) {
  .text-block {
    padding: 4.78vw 3.72vw 3.42vw 6.72vw;
  }
}
@media (max-width: 1271px) {
  .text-block {
    padding: 2.39vw 3.72vw 3.42vw 6.72vw;
  }
  .text-block__date {
    margin-bottom: 3.5px;
  }
  .text-block__title {
    margin-bottom: 16.5px;
  }
  .text-block__text p:not(p:last-child) {
    margin-bottom: 1.7vw;
  }
}
@media (max-width: 1136px) {
  .text-block__date {
    margin-bottom: 2px;
    font-size: 10px;
    line-height: 29px;
  }
  .text-block__title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 28px;
  }
  .text-block__text {
    font-size: 11px;
    line-height: 18px;
  }
  .text-block__text p:not(p:last-child) {
    margin-bottom: 1vw;
  }
}
@media (max-width: 850px) {
  .text-block__date {
    margin-bottom: 3px;
    font-size: 13px;
    line-height: 24px;
  }
  .text-block__title {
    margin-bottom: 18px;
    font-size: 25px;
    line-height: 36px;
  }
  .text-block__text {
    font-size: 15px;
    line-height: 24px;
  }
  .text-block__text p:not(p:last-child) {
    margin-bottom: 2.13vw;
  }
}
@media (max-width: 475px) {
  .text-block__date {
    font-size: 10px;
    line-height: 19px;
  }
  .text-block__title {
    font-size: 20px;
    line-height: 28px;
  }
  .text-block__text {
    font-size: 11px;
    line-height: 18px;
  }
}
.culture__row {
  display: flex;
}
.culture__text_block {
  flex: 0 0 50%;
}
.culture__photo_block {
  flex: 0 0 50%;
}
.culture__image img {
  width: 100%;
}

@media (max-width: 850px) {
  .culture__row {
    flex-direction: column;
  }
  .culture__text_block {
    order: 1;
  }
  .culture__photo_block {
    order: 2;
  }
}
.card {
  text-align: center;
}
.card__image {
  margin-bottom: 35px;
}
.card__image img {
  width: 100%;
}
.card__title {
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #11749e;
}
.card__text {
  font-size: 15px;
  line-height: 24px;
}

.blog {
  background-color: #ffffff;
  color: #222222;
  padding: 80px 0 104.5px;
}
.blog__text {
  text-align: center;
  margin-top: -35px;
  font-size: 30.1px;
  line-height: 37px;
  margin-bottom: 72.5px;
}
.blog__container {
  max-width: 1213px;
  margin: 0 auto;
  padding: 0 20px;
}
.blog__row {
  display: grid;
  grid-template: 1fr/repeat(auto-fit, minmax(195px, 1fr));
  column-gap: 31px;
  row-gap: 35px;
}

@media (max-width: 1300px) {
  .blog {
    padding: 40px 0 60px;
  }
}
@media (max-width: 596px) {
  .blog {
    padding: 25px 0 40px;
  }
}
@media (max-width: 425px) {
  .blog {
    padding: 25px 0 40px;
  }
}
.notes {
  height: 365px;
  background-color: #11749e;
  display: flex;
  align-items: center;
  overflow: auto;
}
.notes__container {
  max-width: 1208px;
  margin: 0 auto;
  padding: 0 20px;
}
.notes__row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 68px;
  row-gap: 35px;
}
.notes__item {
  flex: 1 1 45%;
}

@media (max-width: 768px) {
  .notes {
    height: 290px;
  }
}
@media (max-width: 425px) {
  .notes__row {
    row-gap: 20px;
  }
}
.note {
  display: flex;
  align-items: center;
}
.note__img {
  margin-right: 34px;
}
.note__img img {
  width: 69px;
}
.note__text {
  font-size: 15px;
  line-height: 24px;
}

@media (max-width: 719px) {
  .note {
    display: flex;
    align-items: start;
  }
  .note__img {
    transform: translateY(8px);
  }
}
@media (max-width: 514px) {
  .note__img {
    transform: translateY(6px);
    margin-right: 20px;
  }
  .note__text {
    font-size: 11px;
    line-height: 18px;
  }
}
@media (max-width: 320px) {
  .note__img {
    margin-right: 10px;
  }
  .note__img img {
    width: 40px;
  }
}
.description {
  height: 871px;
  background: url("../img/description/description_bg.png") bottom/cover no-repeat;
  display: flex;
  align-items: center;
}
.description__container {
  width: 1124px;
  margin: 0 auto;
  padding: 0 20px;
}
.description__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description__body {
  max-width: 472px;
}
.description__title {
  margin-bottom: 31px;
  font-size: 25px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
}
.description__text {
  margin-bottom: 63.5px;
  font-size: 15px;
  line-height: 24px;
}
.description__list {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.description__list li {
  background-color: #11749e;
  padding: 4px 0 4px 19px;
}
.description__list li:not(.description__list li:last-child) {
  margin-bottom: 15px;
}
.description__list li:first-child {
  width: 370px;
}
.description__list li:nth-child(2) {
  width: 400px;
}
.description__list li:nth-child(3) {
  width: 428px;
}
.description__img {
  flex: 0 1 auto;
}
.description__img img {
  width: 100%;
}

@media (max-width: 1125px) {
  .description {
    height: 700px;
  }
}
@media (max-width: 768px) {
  .description {
    height: 450px;
  }
  .description__title {
    margin-bottom: 15px;
  }
  .description__text {
    margin-bottom: 30px;
  }
  .description__img {
    display: none;
  }
}
@media (max-width: 470px) {
  .description {
    height: 320px;
  }
  .description__title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 28px;
  }
  .description__text {
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 18px;
  }
  .description li {
    background-color: #11749e;
    padding: 2px 0 2px 10px;
    font-size: 11px;
    line-height: 18px;
  }
  .description li:not(.description li:last-child) {
    margin-bottom: 7.5px;
  }
  .description li:first-child {
    width: 200px;
  }
  .description li:nth-child(2) {
    width: 230px;
  }
  .description li:nth-child(3) {
    width: 258px;
  }
}
.person__body {
  position: relative;
  z-index: 20;
  text-align: center;
  background-color: #fff;
  margin: -48px auto 0;
  padding-top: 21px;
  width: 75%;
}
.person__name {
  margin-bottom: 6.5px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #11749e;
}
.person__prof {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
}
.person__img img {
  width: 100%;
}

.team {
  background-color: #ffffff;
  color: #222222;
  padding: 80px 20px 102.5px;
}
.team__title {
  margin-bottom: 30px;
}
.team__text {
  text-align: center;
  margin-top: -35px;
  font-size: 30.1px;
  line-height: 37px;
  margin-bottom: 72.5px;
}
.team__container {
  max-width: 1213px;
  margin: 0 auto;
}
.team__row {
  display: grid;
  grid-template: 1fr/repeat(auto-fit, minmax(195px, 1fr));
  column-gap: 30px;
  row-gap: 35px;
}

@media (max-width: 1300px) {
  .team {
    padding: 40px 20px 60px;
  }
}
@media (max-width: 596px) {
  .team {
    padding: 25px 20px 40px;
  }
}
@media (max-width: 425px) {
  .team {
    padding: 25px 20px 40px;
  }
}
.contact {
  background: url("../img/contact/contact_bg.png") center/cover no-repeat;
  padding: 130px 0 101px;
}
.contact__container {
  max-width: 1207px;
  padding: 0 20px;
  margin: 0 auto;
}
.contact__form input, .contact__form textarea {
  padding: 9.5px 0 6.5px 22px;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.contact__form input::placeholder, .contact__form textarea::placeholder {
  color: #fff;
  opacity: 0.75;
}
.contact__inputs {
  margin-bottom: 39px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
  row-gap: 39px;
}
.contact__inputs input {
  flex: 1 1 31%;
}
.contact__massage {
  margin-bottom: 46px;
  display: block;
  width: 100%;
  height: 151px;
}
.contact__submit {
  margin: 0 auto;
  display: block;
  padding: 19px 70px 27px 63px;
  background-color: #11749e;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 926px) {
  .contact {
    padding: 30px 0 60px;
  }
  .contact__title_text {
    transform: translateY(-60px);
    font-size: 20px;
    line-height: 24px;
  }
  .contact__title_letter {
    font-size: 130px;
    line-height: 100px;
  }
  .contact__form input, .contact__form textarea {
    padding: 4.5px 0 3.5px 15px;
    font-size: 11px;
    line-height: 24px;
  }
  .contact__inputs {
    margin-bottom: 20px;
    row-gap: 20px;
  }
  .contact__massage {
    margin-bottom: 25px;
    height: 110px;
  }
  .contact__submit {
    padding: 12px 50px 15px 50px;
    font-size: 21px;
    line-height: 21px;
  }
}
@media (max-width: 511px) {
  .contact {
    padding: 30px 0 30px;
  }
  .contact__title {
    margin-bottom: -30px;
  }
  .contact__title_text {
    transform: translateY(-70px);
  }
  .contact__massage {
    margin-bottom: 15px;
    display: block;
    width: 100%;
    height: 70px;
  }
  .contact__submit {
    padding: 6px 25px 8px 25px;
    font-size: 12px;
    line-height: 12px;
  }
}
.map__yandex {
  width: 100%;
  height: 332px;
}

.footer {
  background-color: #222222;
  height: 116px;
  display: flex;
  align-items: center;
}
.footer__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.footer__copyright {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  letter-spacing: 0.02em;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    height: 100px;
  }
}
@media (max-width: 768px) {
  .footer__copyright {
    margin-bottom: 15px;
  }
  .footer__row {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .footer {
    height: 80px;
  }
  .footer__copyright {
    margin-bottom: 10px;
    font-size: 11px;
  }
}

/*# sourceMappingURL=style.css.map */
